#projects {
  border-bottom: solid 1px $cyan-200;
  padding-bottom: 4rem;
}
.project-item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 20px;
  .project-item-caption {
    position: absolute;
    inset: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: $cyan-200;
    &:hover {
      opacity: 1;
    }
  }
  .project-item-caption-content {
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: $primary;
    height: 75px;
    width: 75px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border: none;
  }
}

.project-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media screen and (min-width: 992px) {
  #projects {
    min-height: 100vh;
    place-items: center;
    padding-bottom: 0rem;
    display: grid;
  }
  .project-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
